<div class="bottom m-t-lg m-b-lg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="bottom-container col-sm-12">
                    <div class="bottom-header">
                        <div class="col-sm-12">
                            <h3>Top Diseases</h3>
                        </div>
                    </div>

                    <div class="bottom-content">
                        <div class="col-sm-12 bottom-content-box">
                            <div>
                                <h4 class="d-name">Malaria</h4>

                                <p class="d-shortinfo">Malaria is caused by parasites that are transmitted to people through the bites of infected female mosquitoes.</p>

                                <p class="d-shortsymptoms">Symptoms - fever, headache, chills and vomiting</p>
                                <div class="row">
                                    <a ui-sref="individualdisease" class="btn btn-sucess btn-more">More</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 bottom-content-box">
                            <div>
                                <h4 class="disease-name">Typhoid</h4>

                                <p class="d-shortinfo">Typhoid fever is a bacterial disease, caused by Salmonella typhi. It is transmitted through the ingestion of food or drink contaminated by the faeces or urine of infected people.</p>

                                <p class="d-shortsymptoms">Symptoms - high fever, malaise, headache, constipation or diarrhoea</p>
                                <div class="row">
                                    <a ui-sref="individualdisease" class="btn btn-sucess btn-more">More</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 bottom-content-box no-border">
                            <div>
                                <h4 class="disease-name">Cholera</h4>

                                <p class="d-shortinfo">Cholera is an acute intestinal infection caused by ingestion of food or water contaminated with the bacterium Vibrio cholerae.</p>

                                <p class="d-shortsymptoms">Symptoms - low blood pressure, thirst, muscle cramps</p>
                                <div class="row">
                                    <a ui-sref="individualdisease" class="btn btn-sucess btn-more">More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 bottom-right">
                <div class="searchbox">
                    <form class="wrapper-md">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search" required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>