<div class="onedisease m-t-lg m-b-lg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="onedisease-body col-sm-12">
                    <div class="onedisease-header">
                        <div class="col-sm-12">
                            <h3>Malaria</h3>
                        </div>
                    </div>

                    <div class="onedisease-body-content">
                        <div class="col-sm-12 onedisease-body-box">
                            <div>
                                <h4 class="d-name">Overview</h4>

                                <p class="d-shortinfo">Malaria is caused by parasites that are transmitted to people through the bites of infected female mosquitoes. P. falciparum is the most deadly malaria parasite and the most prevalent in Africa, where malaria cases and deaths are heavily concentrated. Without prompt treatment, P. falciparum malaria can progress to severe illness and death.</p>

                            </div>
                        </div>

                        <div class="col-sm-12 onedisease-body-box">
                            <div>
                                <h4 class="d-name">Symptoms</h4>

                                <p class="d-shortinfo">In a non-immune individual, symptoms appear 7 days or more (usually 10–15 days) after the infective mosquito bite. The first symptoms – fever, headache, chills and vomiting – may be mild and difficult to recognize as malaria. If not treated within 24 hours, P. falciparum malaria can progress to severe illness, often leading to death.</p>

                                <p class="d-shortinfo">Children with severe malaria frequently develop one or more of the following symptoms: severe anaemia, respiratory distress in relation to metabolic acidosis, or cerebral malaria. In adults, multi-organ involvement is also frequent. In malaria endemic areas, people may develop partial immunity, allowing asymptomatic infections to occur.</p>

                            </div>
                        </div>

                        <div class="col-sm-12 onedisease-body-box">
                            <div>
                                <h4 class="d-name">Treatment</h4>

                                <p class="d-shortinfo">Early diagnosis and treatment of malaria reduces disease and prevents deaths. It also contributes to reducing malaria transmission. The best available treatment, particularly for P. falciparum malaria, is artemisinin-based combination therapy (ACT).</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 bottom-right">
                <div class="searchbox">
                    <form class="wrapper-md">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search" required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>