<div class="bottom m-t-lg m-b-lg" ng-show="diseases">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="bottom-container col-sm-12">
                    <div class="bottom-header">
                        <div class="col-sm-12">
                            <h3>Top Diseases</h3>
                        </div>
                    </div>

                    <div class="bottom-content">
                        <div class="col-sm-12 bottom-content-box" dir-paginate="disease in diseases|itemsPerPage:5|filter:search">
                            <div >
                                <h3 class="d-name"> {{disease.name}} </h3>

                                <h4 class="m-t-lg">Description</h4>
                                <p class="d-shortinfo">{{disease.facts}}</p>

                                <h4 class="m-t-lg">Symptoms</h4>
                                <p class="d-shortsymptoms">{{disease.symptoms}}</p>
                                <div class="row">
                                    <a ng-href="/{{disease.name}}" class="btn btn-sucess btn-more">More</a>
                                </div>
                            </div>
                        </div>
                        <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                        </dir-pagination-controls>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 bottom-right">
                <div class="searchbox">
                    <form class="wrapper-md">
                        <div class="form-group">
                            <input class="form-control" ng-model="search" placeholder="Search" required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>